
<!DOCTYPE html>

{% load static %}
<html>
<head>

    <link rel="stylesheet" href = "{% static '/app1/css/style.css' %}" />

</head>




<body>
    <h1>Welcome to the app1</h1>
    <h1>Author name: {{author}}</h1>

    <img src = "{% static "/app1/images/23.jpg" %}" alt= "Natural Images" >
    

    {% comment %} {% if age >= 18 %}
    <p>You abale to take this  course. </p>
    {% else %}
    <p>You are not abale.</p>
    {% endif %} {% endcomment %}

    <table border="1" width = 500>
        <tr>
            <th>ID</th>
            <th>Course</th>
            <th>Teacher</th>
        </tr>
    
    <tr>
    {% for i in courses %}
    <tr>
      <td>{{i.id}}</td>
      <td>{{i.Course}}</td>
      <td>{{i.Teacher}}</td>
    </tr>
    {% endfor %}
    </tr>

    </table>    


</body>
</html>
